.breadcrumbs {
    display: flex;
    padding-top: 1rem;
    font-size: 0.875rem;
    color: #1976d2;
    line-height: 1.3125rem;
    align-items: center;
    margin-bottom: 1rem;
}

.breadcrumbs a {
    display: block;
    text-decoration: none;
    color: #1976d2;
    margin: 0;
    padding: 0 0.5rem;
}

.breadcrumbs .active {
    color: #023581;
    padding-left: 0.5rem;

}

/* Lot Detail styles */

.lot {
    display: flex;
}

.lot-detail {
    width: 67%;
    height: auto;
}

.main-lot-details {
    display: flex;
    padding: 20px 0 20px 20px;
    border: 1px solid rgba(3, 58, 141, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
}

.lot-card__image {
    width: 50%;
    height: auto;
    box-sizing: border-box;
}

.lot-image {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: rgba(3, 58, 141, 0.05);
    border-radius: 5px;
}


.lot-image img {
    width: 100%;
    border-radius: 5px;
}

.lot-card__details {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    padding-left: 1.25rem;
}

.lot-id {
    float: right;
    width: 190px;
}

.lot-card-number-title {
    font-size: 1rem;
    line-height: 2.6875rem;
    color: #023581;
    font-weight: 300;
    float: left;
    margin-left: 0.625rem;
}

.lot-card-number {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2.0625rem;
    color: #fff;
    background-color: #023581;
    padding: 0.3125rem 0.9375rem;
    border-radius: 20px 0 0 20px;
    float: right;
}

.lot-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1,625rem;
    color: #023581;
    width: calc(100% - 190px);
}

.lot-card-attributes {
    margin-top: 1.25rem;
    padding-right: 1.25rem;
}

.d-flex {
    display: flex;
    margin-bottom: 1.25rem;
}

.lot-card__info {
    width: 50%;
    height: auto;
}

.lot-card-attribute__title {
    min-height: 34px;
    line-height: 34px;
    padding-right: 10px;
}

.lot-card-attribute__title img {
    width: 30px;
    float: left;
}

.lot-card-attribute__title i {
    font-size: 1.875rem;
    float: left;
    color: #023581;
}

.lot-card-attribute__title span {
    margin-left: 0.625rem;
    padding-right: 0.625rem;
    font-size: 0.875rem;
    font-weight: 300;
    color: #023581;
    letter-spacing: 0.5px;
    vertical-align: middle;
}

.lot-card-attribute__value {
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 0.1875rem;
    padding-right: 0.625rem;
    color: #023581;
    line-height: 1.6825rem;
}

.animation-up {
    background: rgb(32, 191, 0);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    animation-name: zoomIN;
    animation-duration: 2s;

}

.lot-card-statistics {
    margin-top: 1.25rem;

}

.lot-statistics-icons {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.lot-icon {
    color: #023581;
}

.lot-icon span {
    padding: 0 0.9375rem 0 0.3125rem;
}

.lot-important__info {
    margin-top: 2.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #023581;
    font-weight: 300;
}

.reminder {
    margin-bottom: 1.25rem;
    border: 1px solid rgb(211, 47, 47);
    border-radius: 0.25rem;
    padding: 1rem;
    animation: 1s linear 0s infinite alternate none running redColor;
}

.red-text {
    color: #d32f2f;
    font-weight: 700;

}

.important-information {
    margin-bottom: 1.25rem;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(33, 150, 243);
}

@keyframes redColor {
    0% {
        box-shadow: rgb(252, 230, 234) 0px 0px 10px -2px;
        border-color: rgb(252, 230, 234);
    }

    33% {
        box-shadow: rgb(255, 184, 186) 0px 0px 10px -2px;
        border-color: rgb(255, 184, 186);
    }
 
    66% {
        box-shadow: rgb(224, 72, 72) 0px 0px 10px -2px;
        border-color: rgb(224, 72, 72);
    }

    100% {
        box-shadow: rgb(229, 8, 8) 0px 0px 10px -2px;
        border-color: rgb(229, 8, 8);
    }
}


.accordion {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.accordion-item {
    background: #EAF3FF;
    border-bottom: 1px solid #ddd;
}
.accordion-item button {
    width: 100%;
    background: none;
    border: none;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #023581;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.accordion-item button i {
    color: #757575;
    transition: transform 0.3s ease;
}
.accordion-item button.active i {
    transform: rotate(180deg);
}
.accordion-content {
    display: none;
    padding: 15px;
    background: white;
}

/* Extra Lot Detail styles */

.extra-lot__detail {
    width: 33%;
    height: auto;
    box-sizing: border-box;
    padding-left: 30px;
}

.bg {
    background-color: #EBF3FF;
    margin-bottom: 60px;
}

.extra-lot-item {
    margin: 30px 20px 0 30px;
    position: relative;
    background-color: #ffffff;
    padding: 15px 15px 15px 25px;
    top: -30px;
    border: 1px solid rgba(3, 58, 141, 0.2);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.exta-card__title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #023581;
    letter-spacing: 0.5px;
}

.border {
    height: 4px;
    width: 100px;
    margin-top: 2px;
    background-color: #E9AC1C;
}

.countdown-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    margin-top: 0.5rem;
}
.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.countdown-number {
    font-size: 2.5rem;
    font-weight: 700;
    color: #023581;
    text-shadow: 0px 8px 6px rgba(4, 0, 67, 0.36);
}
.countdown-label {
    font-size: 0.5rem;
    font-weight: 700;
    color: #023581;
    margin-top: 5px;
}

.extra-lot__details .bg:nth-of-type(2) .extra-lot-item{
    background-image: url(/images/lot-detail-images/contract.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}


.extra-lot-item p {
    color: #023581;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 300;
    margin-top: 0;
}

.extra-lot-item button {
    margin-top: 0.25rem;
    color: #ffffff;
    background-color: #023581;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 36px;
    border: 1px solid #023581;
    border-radius: 3px;
    cursor: pointer;
}

.apply-link {
    margin-top: 1rem;

}

.apply-link a {
    color: #2196f3;
    font-size: 0.875rem;
    line-height: 1.3125rem;
}

.location {
    position: relative;
    height: 300px;
    padding-top: 1rem;
}

.location iframe {
    width: 100%;
    height: 100%;
}